APP_NAME="Babura House Connect"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_MAINTENANCE=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=babura_house_connect
DB_USERNAME=root
DB_PASSWORD=

SESSION_LIFETIME=120

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_username_placeholder
MAIL_PASSWORD=your_password_placeholder
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=info@houseconnect.ng
MAIL_FROM_NAME="Babura House Connect"
